@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

::selection {
  background-color: #ffffff;
  color: #0a0a0a;
}

::-moz-selection {
  background-color: #ffffff;
  color: #0a0a0a;
}
